!
! {{ ansible_managed }}
!
! Configuration File for keepalived

global_defs {
   router_id LVS_DEVEL
   vrrp_skip_check_adv_addr
   vrrp_strict
}

{% for vrrp_instance in vrrp_instances -%}
vrrp_instance {{ vrrp_instance['name'] }} {
    {% if vrrp_instance['state'] is defined and vrrp_instance['state'][inventory_hostname] is defined -%}
    state {{ vrrp_instance['state'][inventory_hostname] }}
    {% endif -%}
    interface {{ vrrp_instance['interface'] | default(vrrp_interface) }}
    {% if vrrp_instance['virtual_router_id'] is defined -%}
    virtual_router_id {{ vrrp_instance['virtual_router_id'] }}
    {% endif -%}
    priority {{ vrrp_instance['priority'][inventory_hostname] | int }}
    advert_int {{ vrrp_instance['advert_int'] | default(vrrp_advert_int) }}
    virtual_ipaddress {
{% for address in vrrp_instance['virtual_ip_addresses'] %}
        {{ address }}
{% endfor %}
    }
{% if vrrp_instance['nopreempt'] is defined and vrrp_instance['nopreempt'] | bool %}
    nopreempt
{% endif %}
{% if vrrp_instance['unicast_peers_group'] is defined %}
    unicast_peer {
{% for peer in group_without_current_host[loop.index -1] %}
        {{ hostvars[peer]['ansible_default_ipv4']['address'] }}
{% endfor %}
    }
{% endif -%}
}
{% endfor %}
