!
! {{ ansible_managed }}
!
! Configuration File for keepalived

global_defs {
   router_id LVS_DEVEL
   vrrp_skip_check_adv_addr
   vrrp_strict
}

{% for vrrp_instance in vrrp_instances -%}
vrrp_instance {{ vrrp_instance['name'] }} {
    {% if vrrp_instance['state'] is defined and vrrp_instance['state'][inventory_hostname] is defined -%}
    state {{ vrrp_instance['state'][inventory_hostname] }}
    {% endif -%}
    interface {{ vrrp_instance['interface'] | default(vrrp_interface) }}
    virtual_router_id {{ vrrp_instance['virtual_router_id'] }}
    priority {{ vrrp_instance['priority'][inventory_hostname] | int }}
    advert_int {{ vrrp_instance['advert_int'] | default(vrrp_advert_int) }}
    virtual_ipaddress {
{% for address in vrrp_instance['virtual_ip_addresses'] %}
        {{ address }}
{% endfor %}
    }
}
{% endfor %}
